.idea

.ipynb_checkpoints
__pycache__


data/*
data/predictions/*
!data/predictions/
!data/predictions/*.xml
!data/predictions/*.txt
!data/predictions/*.json
!data/wn_bn5.tsv
!data/sense_key2wn_id.tsv

models/*
models/ngrams/*
!models/ngrams/

!.gitkeep