.idea

.ipynb_checkpoints
__pycache__

kenlm/

data/*
data/librispeech/*
!data/librispeech/
!data/librispeech/*.xml
!data/librispeech/*.txt
!data/librispeech/*.json
!data/wn_bn5.tsv
!data/sense_key2wn_id.tsv

models/*
models/ngrams/*
!models/ngrams/

!.gitkeep